.boxs img{
    width: 100%;
}
.explore_btn{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
    cursor: pointer;
}

.explore_btn:hover{
    background-color: orange;
    color: white;
}
.card_container{
    text-align: center;
    margin-top: 30px;
}


@media (max-width: 768px) {
    .card_container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}