.features .box {
  padding: 50px;
}
.features .box h2 {
  margin: 20px 0 20px 0;
}
.features .box p {
  word-spacing: 2px;
  transition: 0.5s;
}
.features .box i {
  font-size: 30px;
  margin-top: 20px;
  transition: 0.5s;
  opacity: 0;
}
.features .box:hover p {
  color: black;
}
.features .box:hover i {
  color: black;
  opacity: 1;
}

.contents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6;
}

@media (max-width: 768px) {
  .contents{
    /* border: 2px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr, 1fr);
  }
}
