.projectDiv{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.projectImg{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}
.projectImg img{
    width: 100%;
    height: 380px;
    padding: 20px;
}
.myCode a{
    margin: 20px;
    text-decoration: underline;
    color: blue;
}

@media (max-width: 768px) {
    
    .projectImg{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}